
.header {
  color: blue;
  border: 1px dashed blue;
  border-radius: 8px;  
  width: 60%;
  text-align: center;
  margin-top: 30%;
}

@media (max-width:767px) {

  .header
  {
    border:0px solid !important
  }

  }